<h1>Lead#list</h1>
<p>Find me in app/views/lead/list.html.erb</p>
<%= session[:integrator].token %> <br>
<%= link_to "sair", :controller => "welcome", :action => "logoff"%><br>

<br>
<table>
	<caption>Leads do usuário</caption>
	<thead>
		<tr>
			<th>Nome</th>
			<th>Email</th>
			<th>Empresa</th>
			<th>Telefone</th>
		</tr>
	</thead>
<% if session[:integrator] && session[:integrator].get_all_leads %>
	<% session[:integrator].get_all_leads.each do |lead| %>
		<tbody>
			<tr>
				<td><%= lead.name %></td>
				<td><%= lead.email %></td>
				<td><%= lead.company %></td>
				<td><%= lead.phone %></td>
			</tr>
		</tbody>
	<% end %>
<% end%>
</table>

<br>
<%= link_to "Novo Lead", :action => "create" %>